body {
    background-color: pink;
}


.seal {
    position: fixed;
    bottom: 0px; right: 0px;
}


li .active:hover {
   background-color: DarkBlue;
}

ul {
  list-style-type: none;
  margin: 1;
  padding: 0;
}

.secret {
  position: fixed;
  bottom: 0;
  right: 0;
}
